<!DOCTYPE html>
<html lang="en">
  <div class="title">
    <h1>APP Ingreso de Empleados</h1>
  </div>
  <body>
   
    <table class="table table-dark table-striped">
    <div class="contenedor">
      <div>
        <div >
          <button class="btn btn-outline-light" type="button" routerLink="/empleado/form">Añadir nuevo Empleado
            <span></span>
          </button>
        </div>
        <div >
          <button
            name="listaempleados"
            class="btn btn-outline-light"
            routerLink="/empleado"
            >
            Listar empleados
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </table>
  </body>
</html>